---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Bienvenidos a mi blog de charlas de Google</h1>

	<p>Este blog es un espacio en el que comparto resúmenes de charlas y presentaciones de Google, donde destaco los puntos clave, acompaño con capturas de pantalla, y añado notas y observaciones importantes. La idea es que puedas acceder de forma sencilla a contenido que, desde mi perspectiva, tiene un valor excepcional para aprender y aplicar.</p>

	<p> Mi objetivo es ofrecerte una versión condensada de cada charla, para que puedas beneficiarte de la información sin tener que ver la charla completa. Algunas páginas aún estarán vacías mientras continúo trabajando en los resúmenes, pero seguiré añadiendo contenido regularmente. ¡Espero que encuentres estas ideas tan útiles e interesantes como yo!</p>

</Layout>

