<span class="text-3xl font-bold flex">
    <p class="text-blue-500 text-4xl">G</p>
    <p class="text-red-500 text-4xl">o</p>
    <p class="text-yellow-500 text-4xl">o</p>
    <p class="text-blue-500 text-4xl">g</p>
    <p class="text-green-500 text-4xl">l</p>
    <p class="text-red-500 text-4xl">e</p>
</span>