---
interface Props {
    text: string
    url: string
}

const { text, url } = Astro.props
---
<li class="mt-2 hover:bg-blue-100 transition rounded-r">
    <a class="pl-5 pr-2 py-2 block text-gray-800" href={url}>{text}</a>
</li>